body{
	margin: 0px;
	padding: 0px;
	font-family: "open sans";
	font-size: 16px;
}
.docScroller {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0%;
     -webkit-scroll-behavior: smooth;
     scroll-behavior: smooth;
}
p{
	line-height: 30px;
	margin: 0px;
	padding: 0px;
}
ul,li{
	margin: 0px;
	padding: 0px;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0px;
	margin-top: 0px;
}
h2{
	color: rgb(243, 126, 34);
	font-family: "Pt serif";
	font-weight: bold;
	font-size: 38px;
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
h3{
	font-size: 24px;
	font-family: "Pt serif";
	text-align: center;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	color: #000;
}
button{
	border:0px;
}
/*Top bar css starts*/
.top-bar{
	background-color: #028FCC;
}
.navbar{
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-default{
	background-color:transparent;
	border:0px;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover{
	color: rgb(243, 126, 34);
}
.top-bar .top-content .socialicons{
	align:vertical;
}
.top-bar .top-content .socialicons ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 25px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
}
.top-bar .top-content .socialicons ul li a{
	color: #fff;
}
.top-bar .top-content .socialicons ul li .fa{
	margin-right: 10px;
}
.navhead .navbar-collapse .active{
	color: rgb(243, 126, 34);
}
/*Top bar css ends*/

/*logo section css starts*/
.mainnavbar .logosection{
	margin-bottom: 20px;
}
.mainnavbar .logosection img{
	padding-top: 10px;
}
.mainnavbar .navbar-default .navbar-nav > li > a{
	color: #028FCC;
	text-transform: uppercase;
}
.mainnavbar .navbar-default .navbar-nav > li > a.active{
	color: rgb(243, 126, 34);
}
.mainnavbar .navbar-default .navbar-nav > li > a:hover{
	color: rgb(243, 126, 34);
}
.mainnavbar .navbar{
	margin-top: 15px;
}
.mainnavbar .logosection .navhead ul li .fa{
	margin-left: 5px;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.dropdown-menu{
	padding-left: 5px;
}
.dropdown-menu .dropdown-divider{
	margin-bottom: 5px;
}
/*slider section*/
.slider{
	margin-bottom: 50px;
}
.bx-wrapper img{
	margin-left: auto;
	margin-right: auto;
}
.mainslider {
   width: 1349px;
   max-height: 800px;
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
}
/*slider section ends*/
.aboutus h2{
	padding-bottom: 50px;
	text-align: left;
}
#about {
  -vendor-animation-duration: 7s;
  -vendor-animation-delay: 10s;
  -vendor-animation-iteration-count: infinite;
}
.aboutus img{
	margin-bottom: 20px;
}
.aboutus a{
	color: rgb(243, 126, 34);
	text-decoration: none;
}
.aboutus .notice h2{
	text-align: center;
}
/*notice part*/
.noticelist{
	background-color: #32cd32;
	padding-top: 10px;
	padding-bottom: 10px;
}
.first_notice{
	width: 285px;
	min-height: 175px;
	background-color: #fff;
	margin-top:20px;
	margin-left:auto;
	margin-right: auto;
	padding: 5px;
}
.first_notice small{
	color: rgb(243, 126, 34);
}
/*Scroll bar section starts*/
.scrollbar
{
	float: left;
	height: 520px;
	width: 100%;
	background: #3498DB;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}
/*#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}*/
/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #aae13e;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
		color-stop(.5, rgba(255, 255, 255, .2)), 
		color-stop(.5, transparent), to(transparent));
}

/*Scroll Bar section ends*/
/*Process Section*/
.process_section .process .admission{
	background-color: #00ced1;
	padding-bottom: 20px;
	max-height: 500px;
}
.process_section .process h2{
	padding-bottom: 0px;
}
.process_section .process h3{
	padding-bottom: 0px;
	text-transform:uppercase;
}
.process_section .process .heading img{
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 50px;
}
.process_section .process .admission p{
	color: #fff;
	padding: 0px 10px;
}
.process_section .process .admission img{
	padding: 10px 10px 0px 10px;
}
.process_section .process .admission button{
	background-color: #028fcc;
	color: #fff;
	max-width: 180px;
	height: 40px;
	margin-left: 170px;
	margin-top: 10px;
}
.process_section .process .admission button:hover{
		background-color:rgb(243, 126, 34);
	}
.process_section .process .affiliation{
	background-color: #3b6499;
}
.process_section .process .infrastructure{
	background-color: #00235a;
}
/*features section*/
.features_section .features h2{
	padding-bottom: 0px;
}
.features_section .features p{
	color: #fff;
	padding: 0px 10px;
}
.features_section .features img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.effectdiv{
	position: relative;
	
}
.feature_list{
	opacity: 1;
	transition: .5s ease;
  backface-visibility: hidden;
}
.effectdiv:hover .middle {
  opacity: 0.5;
}
.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #181717;
  }
.features_section .features .feature_list{
	background-color: #537163;
	padding-top: 20px;
	padding-bottom: 20px;
	max-height: 325px;
}
.features_section .features .feature_list .icons{
	width: 100px;
	height: 100px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;

}
.features_section .features .feature_list .icons i{
	font-size: 30px;
	color: #028FCC;
	margin-left: 36px;
	margin-top: 30px;
}
.features_section .features .house{
	background-color: #ff8521;
}
.features_section .features .attendance{
	background-color: #009688;
}
.features_section .features .sports{
	background-color: #00954a;
}
.first_section{
	margin-bottom: 20px;
}
.features_section .features .students{
	background-color: #96ceb4;
}
.features_section .features .project{
	background-color: #ff9966;
}
.features_section .features .curriculum{
	background-color: #83d0c9;
}
.features_section .features .activities{
	background-color: #7bc043;
}

/*gallery section*/
.gallery_section .gallery h2{
	padding-bottom: 0px;
}
.gallery_section .gallery img{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}
.gallery_section .gallery .imgborder{
	margin-bottom: 20px;
}
.gallery_section .gallery .imgborder img{
	padding-bottom: 0px;
}
/*choose us section*/
.choose_heading h2{
	padding-bottom: 0px;
}
.choose_heading img{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
/*parallax*/
.parallax { 
		    /* The image used */
		    background-image: url("../images/slide_img.png");
		    /* Set a specific height */
		    height:auto; 

		    /* Create the parallax scrolling effect */
		    background-attachment: fixed;
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;
		}
.cover{
	background-color: rgba(0,0,0,0.2);
}
.parallaxtop{
	padding-top: 145px;
    padding-bottom: 100px;
}
.parallaxtop p{
	color: #f9fbfc;
}
  .iconbg{
  	background-color: #2c2ca1;
  	width: 100px;
  	height: 100px;
  	border-radius: 50%;
  	margin-left: auto;
  	margin-right: auto;
  }
  .iconbg .fa{
  	color: #fff;
  	font-size: 30px;
  	margin-left: 36px;
    margin-top: 30px;
  }
  .faculty{
  	background-color: #ffd133;
  }
  .organized{
  		background-color: #1ab034;
  }
  /*resources and facilities section*/
  .facilities h2{
  	padding-bottom:0px;
  }
  .facilities img{
  	margin-left: auto;
  	margin-right: auto;
  	padding-bottom: 50px;
  }
/*Number counter css*/
.wrapper {  
	margin: 30px auto; 
	position: relative;
}
.counter { 
	background-color: #ffffff; 
	padding: 20px 0; 
}
.count-title { 
	font-size: 72px; 
	font-weight: bold;  
	margin-top: 10px; 
	margin-bottom: 0; 
	text-align: center;
	font-family: "open sans";
	color: #fff; 
}
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

.col_fourth{
	background-color: #537163;
}
.col_fourth h2{
	padding-top: 10px;
}
.col_fourth p{
	font-size: 24px;
	color: #fff;
	text-align: center;
}
.science{
	background-color: #ff8521;
}
.books{
	background-color: #009688;
}
/*event calenar section starts*/
.calendar h2{
	padding-bottom: 0px;
}
.calendar img{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}
.calendar h3{
	font-size: 24px;
	font-weight: bold;
	font-family: "pt serif";
	color: rgb(243, 126, 34);
	text-transform: uppercase;
}
.calendar_notice{
	
	margin-top: 20px;
}
.calendar_notice .calendarimg{
	font-size: 48px;
	background-color: #028fcc;
	color: #fff;
	text-align: center;
	padding: 20px 0px;
	width: 130px;
	display: inline-block;
}
.notices{
	display: inline-block;
	padding-left: 10px;
}
.calendar_notice{
	border:1px solid #6baae0;
}
.calendar_notice .calendarimg.second{
	background-color: #ff8521;
}
.calendar_notice .calendarimg.third{
	background-color: #009688;
}
.event_calendar{
	margin-bottom: 50px;
}
/*footer section*/
.footer_section .footer{
	background-color: #028FCC;
	padding-bottom: 35px;
}
.footer_section .footer p{
	color: #fff;
}
.footer_section .footer p a{
	 color: rgb(243, 126, 34);
	 margin-left: 5px;
}
.footer_section .footer img{
	width: 256px;
	height: 105px;
	margin: 20px 0px;
}
.footer_section .footer .contactinfo{
	margin-top: 40px;
}
.footer_section .footer h3{
	font-weight: bold;
	text-align: left;
	font-family: "pt serif";
	font-size: 24px;
	padding-top: 10px;
}
.footer_section .footer h4{
	color: #fff;
	padding-top: 8px;
}
.footer_section .footer ul li{
	list-style-type: none;
	margin-top: 20px;
}
.footer_section .footer ul li i{
	margin-right: 10px;
	font-size: 18px;
}
.footer_section .footer .form_group{
	margin-top: 40px;
}
.form-control{
	margin-top: 25px;
}
.btn-primary {
    background-color: #e67e22;
    width: 110px;
    height: 40px;
}
/*for animation*/
.hidden{
	opacity: 0;
}
.visible{
	opacity: 1;
}

/*media query*/
@media only screen and (min-width: 320px) and (max-width: 479px){
.first_notice{
	width:250px;
	margin-left: auto;
	margin-right: auto;
}
.process_section .process .admission button{
	margin-left: 150px;
	width: 120px;
}
.process_section .process .admission
{
	margin-bottom: 20px;
}
.features_section .features .feature_list{
	margin-bottom: 20px;
}
.gallery_section .gallery .imgborder img{
	margin-bottom: 20px;
}
.counter{
	margin-bottom: 20px;
}
.calendar_notice .calendarimg{
	width: 65px;
}

}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.first_notice{
		margin-left: auto;
		margin-right: auto;
	}
	.process_section .process .admission{
		margin-bottom: 20px;
		height: 470px;
	}
	.process_section .process .admission img{
		margin-left: auto;
		margin-right: auto;
	}
	.process_section .process .admission button{
		margin-left: 255px;
	}
	.features_section .features .feature_list{
		margin-bottom: 20px;
	}
	.gallery_section .gallery img{
		margin-bottom: 20px;
	}
	.counter{
		margin-bottom: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.socialicons{
		float: left;
	}
.aboutus a {
	margin-left: 10px;
}
.process_section .process .admission button{
	margin-left: 75px;
	margin-top: 10px;
	width: 120px;
}
.admission.infrastructure button {
    margin-top: 10px;
}
.first_notice{
	margin-right: auto;
	margin-left: auto;
}
.features_section .features .feature_list{
	margin-bottom: 20px;
}
.gallery_section .gallery .imgborder img{
	margin-bottom: 20px;
}
.first_notice{
	width: 535px;
}
.counter{
	margin-bottom: 20px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.first_notice{
		width: 260px;
	}
	.features_section .features .feature_list{
		height: 340px;
	}
	.process_section .process .admission{
		height: 440px;
	}
	.process_section .process .admission button{
		margin-left: 95px;
	}
	.process_section .process .admission.infrastructure button{
		margin-top: 25px;
	}
}