body{
	margin:0;
	padding:0; 
	background-image: url("loginassets/bg.jpg");
    font-family: sans-serif;
}
.loginbox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width:350px;
	min-height:200px;
	background: #fff;
    border-radius: 10px; 
    padding:2%;
    box-sizing: border-box;

}
.user{
	margin: 0 auto;
	display: block;
	height: 90px;
	width:100px;
	margin-bottom: 20px;

}
h3{
	margin:0;
	padding: 0 0 20px;
	color: #262626;
	text-align: center;
}
.loginbox input{

	width:100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"],
.loginbox input[type="password"]
{
	border: none;
	border-bottom: 2px solid #262626;
	outline:none; 
	height:40px;
	color:#262626;
	background:transparent;
	font-size: 16px;
	padding-left: 20px;
	box-sizing: border-box;

}
.loginbox input[type="text"]:focus,
.loginbox input[type="password"]:focus
{
	border-bottom: 4px solid #32c930;

}
.inputbox{
	position: relative;

}
.inputbox span{
	position: absolute;
	top:10px;
	color: #262626;
}
.loginbox input[type="submit"]
{
border:none;
outline: none;
height:40px;
font-size: 16px;
background-color: #ed292a;
color:#fff;
 border-radius: 20px;
 cursor:pointer;
}
.loginbox a {
color: #262626;
font-size: 14px;
font-weight: bold;
text-decoration: none;
text-align: center;
display: block;
}
.error{
	color: red;
}
